@model JobModel
@section scripts{
    <script type="text/javascript">
        $(function () {
            $.jqPaginator('#pagination', {
                totalPages: parseInt($("#PageCount").val()) == 0 ? 1 : parseInt($("#PageCount").val()),
                visiblePages: 5,  //设置最多显示的页码数
                currentPage: parseInt($("#Page").val()) + 1,
                first: '<li class="first"><a href="javascript:;">首页</a></li>',
                prev: '<li class="prev"><a href="javascript:;"><i class="arrow arrow2"></i>上一页</a></li>',
                next: '<li class="next"><a href="javascript:;">下一页<i class="arrow arrow3"></i></a></li>',
                last: '<li class="last"><a href="javascript:;">末页</a></li>',
                page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                onPageChange: function (page, type) {
                    if (type == "change") {
                        loadData(page);
                    }
                }
            });
            function loadData(page) {
                $("#Page").val(page - 1);
                //$("form").submit();
                $.ajax({
                    url: "/Message/MessageList",
                    type: "post",
                    dataType: "html",
                    data: {page:page-1,id:@Model.Id},
                    success: function (data) {
                        $("#messageList").html(data);

                    },
                    error: function () {
                        alert("加载失败");

                    }
                });
            };

            $("#message-btn").click(function () {
                var message = $("#message").val();
                $.post("/Message/ToMessage", { jobId:@Model.Id,message: message }, function (result) { 
                    if (result.isSuccess) {
                        window.location.reload();
                    } else {
                        alert(result.Message);

                    }
                });
            });
            $(document).on("click", ".reply-btn", function (event) {
                $(this).parent().parent().find(".reply-text").show();
            });
            $(document).on("click", ".cancel", function (event) {
                $(this).parent().parent().hide();
            });
            $(document).on("click", ".sure", function (event) {
                var messageId = $(this).parent().parent().find(".reply").attr("data");
                var message = $(this).parent().parent().find(".reply").val();
                $.post("/Message/SaveReply", { messageId: messageId, message: message, jobId:@Model.Id}, function (result) { 
                    if (result.isSuccess) {
                        window.location.reload();
                    } else {
                        alert(result.Message);

                    }
                });
            });
        });

    </script>
}

    <div class="panel panel-default">
        <h4 style="margin-top:20px">
            @if (Model.Status == (int)JobStatus.Underway)
            {
                @if (Html.ViewContext.HttpContext.User.Identity.Role() == RoleType.Business.GetDescription())
                {
                    <span style="float:right"><a href="/Job/JobList?id=@Model.Id" class="btn btn-primary">返回</a></span>
                }
                else if (Html.ViewContext.HttpContext.User.Identity.Role() == RoleType.User.GetDescription())
                {
                    <span style="float:right"><a href="/Job/AllJob" class="btn btn-primary">返回</a></span>

                }
                else
                {
                    <span style="float:right"><a href="/Admin/JobList" class="btn btn-primary">返回</a></span>
                }

            }
            else
            {
                @if (Html.ViewContext.HttpContext.User.Identity.Role() == RoleType.System.GetDescription())
                {
                    <span style="float:right"><a href="/Admin/JobList" class="btn btn-primary">返回</a></span>

                }
                else
                {
                    <span style="float:right"><a href="/Job/OverList?id=@Model.Id" class="btn btn-primary">返回</a></span>
                }

            }
        </h4>
        <h2 align="center">@Model.BusinessName</h2>
        <div class="panel-heading">
            <h4>岗位：@Model.Title</h4>
        </div>
        <table class="table">
            <tr><td><b>工作地点</b></td><td>@Model.BusinessAddress</td></tr>
            <tr><td><b>招聘人数</b></td><td>@Model.Count</td></tr>
            <tr><td><b>性别要求</b></td><td>@(((SexType)Model.SexAsk).GetDescription())</td></tr>
            <tr><td><b>年龄要求</b></td><td>@Model.AgeAsk</td></tr>
            <tr><td><b>薪资(/天)</b></td><td>@Model.Salary</td></tr>
            <tr><td><b>更新日期</b></td><td>@Model.UpdateTime</td></tr>
            <tr><td><b>联系电话</b></td><td>@Model.Tell</td></tr>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                职位描述及其他要求
            </h3>
        </div>
        <div class="panel-body">
            @Model.Content
        </div>
    </div>
   
@if (Model.Status == (int)JobStatus.Underway&& Html.ViewContext.HttpContext.User.Identity.Role() != RoleType.System.GetDescription()) {
    <div>
        <h2 align="" class="text-danger" style="font:bold">留言区</h2>
        <div>
            <div style="background:#C0C0C0;color:#C0C0C0;height:5px"></div>
            <h4 class="	glyphicon glyphicon-pencil"> 留言(@Model.MessageListView.Total)</h4>
            <button style="float:right;margin-top:20px;margin-bottom:20px" class="btn btn-success" id="message-btn">发表留言</button>
            <span><textarea class="form-control" id="message"></textarea> </span>
        </div>
        <div id="messageList">
            @for (var i = 0; i < @Model.MessageListView.ListMessage.Count; i++)
            {
                var message = Model.MessageListView.ListMessage[i];
                <div>
                    <div class="well well-sm" style="margin-top:20px;margin-bottom: 0px;">
                        <h4>
                            <span>#@(i + 1)</span>
                            @if (message.UserStatus == (int)RoleType.Business) {
                                <span style="color:#272727;font-weight:bold;">&nbsp&nbsp [商家]</span>

                            }
                            else
                            {
                                <span style="color:#7B7B7B;">&nbsp&nbsp @message.WriterName</span>

                            }
                            <span style="color:#5B5B5B;font-size:13px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(发表于:@message.Time)</span>
                            <span style="float:right" class="reply-btn"><a class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span>&nbsp&nbsp回复</a></span>
                        </h4>
                        @if (message.UserStatus == (int)RoleType.Business)
                         {
                            <p style="color:#272727;font-weight:bold;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @message.Content</p>

                        }
                        else
                        {
                            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @message.Content</p>

                        }


                        @if (@message.ReplyCount > 0)
{
                            <p><a href="/Message/Toreply?messageId=@message.Id">>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp相关评论 @message.ReplyCount 条</a></p>
                        }
                        <div style="display:none " class="reply-text">
                            <input style=" width: 60%;margin-left:330px" type="text" data=@message.Id class="reply" />
                            <span><button class="btn btn-primary sure">确认</button></span>
                            <span><button class="btn btn-primary cancel">取消</button></span>
                        </div>
                    </div>
                </div>
            }
        </div>
</div>

 <div>
    <ul class="pagination" id="pagination"></ul>
    @Html.Hidden("Page", Model.MessageListView.Page)
    @Html.Hidden("PageCount", Model.MessageListView.Total % Model.MessageListView.Size > 0 ? (Model.MessageListView.Total / Model.MessageListView.Size) + 1 : (Model.MessageListView.Total / Model.MessageListView.Size))
</div>
}

