@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "修改密码";
}
@section scripts{
    <script type="text/javascript">
        $(function () { 
            $(".btn-submit").click(function () {
                var oldPassword = $(".oldPassword").val();
                var newPassword = $(".newPassword").val();
                $.post("/Account/EditPassword", { oldPassword: oldPassword, newPassword: newPassword }, function (result) { 
                    if (result.isSuccess) {
                        window.location.href = "/Home/Index";
                    } else {
                      alert("密码输入错误");
                    }
                });
            });
        });
    </script>
}
@model PasswoModel
<div class="container form-horizontal">
<div class="row">
    <h1><span class="glyphicon glyphicon-pencil"></span>@ViewData["Title"]</h1>
</div>
<div class="form-group">
    <label for="Title" class="control-label col-md-2">请输入密码</label>
    <div class="col-md-10 form-inline">
        @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control oldPassword" })
        @Html.ValidationMessageFor(model => model.OldPassword, "", htmlAttributes: new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <label for="Content" class="control-label col-md-2">请输入新密码</label>
    <div class="col-md-10 form-inline">
        @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control newPassword" })
        @Html.ValidationMessageFor(model => model.NewPassword, "", htmlAttributes: new { @class = "text-danger" })
    </div>
</div>
<div>
    <span style="margin-right:20px;margin-left:200px;"><button class="btn btn-primary btn-submit">保存</button></span>
    <span><a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">返回</a></span>
</div>
</div>